#tableau{
	width: 100%;
}
#formAdd{
	display: flex;
	flex-direction: column;
	align-items: center;
}
#navigation{
	display: flex;
	flex-direction: row;
}
li{
	margin: 5%;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none; 
	margin: 0; 
}

input[type=number] {
	-moz-appearance: textfield;
}